body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 10pt;
	background-color: #FFFFFF;
}

/*���ð�ť�ĸ߶�*/
input[type=button],input[type=submit],input[type=reset] {
	height: 22px;
	margin-right: 0px;
	cursor: pointer;
}

/*�����ı���ķ��*/
input[type=text],input[type=password],textarea {
	border: 1px solid #84a1bd;
	background: #E8FDFF;
	font-size: 10pt;
}

/*����Ϊ����*/
*[name=selimg] {
	cursor: pointer;
}

/*���ӷ��*/
a:link {
	font-size: 10pt;
	text-decoration: none;
}

a:visited {
	font-size: 10pt;
	text-decoration: none;
}

a:hover {
	font-size: 10pt;
	color: #9900ff;
	text-decoration: none;
}

/*�����༭*/
#edit {
	border-bottom: 1px dotted #999999;
	border-left: 1px dotted #999999;
	border-top: 1px dotted #999999;
	border-right: 1px dotted #999999;
	margin-bottom: 10pt;
}

#formTable td {
	text-align: left;
}

#formTable tr td:first-child {
	text-align: right;
}

/*��ť����*/
#btnDiv {
	height: 10%;
	width: 100%;
	text-align: right;
	bottom: 0px;
	padding-bottom: 10px;
}

/*��ť����span*/
#btnDiv span {
	text-align: right;
}

/*�ֶβ���Ϊ����ʾ*/
#nel {
	color: red;
}

/*�����ʾ*/
#resultTip {
	text-align: center;
	background-color: #FFF1A8;
	color: green;
	font-weight: bold;
	border: 1px dotted #999;
	padding: 2px 5px 2px 4px;
	width: 98%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
	color: green;
}

/*����CSS*/
.highlight {
	background-color: yellow;
	font-weight: bold;
}

/*------ �˵����� Start ------*/
#leftMenu a {
	width: 110px;
	display: block;
	padding-left: 10px;
}

#leftMenu li {
	background: #CCC;
	border-bottom: #FFF 1px solid;
	float: left;
}

#leftMenu li a:hover {
	background: #CC0000;
}

#leftMenu a:link {
	color: #666;
	text-decoration: none;
}

#leftMenu a:visited {
	color: #666;
	text-decoration: none;
}

#leftMenu a:hover {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

/*------ �ұ�����ʾ��Ϣ Start ------*/
#rightTip label {
	color: red;
}

/*��Ա��DIV*/
#tree {
	height: 350px;
	width: 300px;
	overflow: scroll;
	overflow-y: hidden;
	display: none;
}

.onLoad {
	background: #E9FFEB url(../images/loading.gif) no-repeat 3px 3px;
	padding-left: 25px;
	height: 20px;
	line-height: 20px;
}

/*------ �б� Start ------*/
/*����б�*/
#row th {
	vertical-align: middle;
	border-right: #fff 1px solid;
	border-bottom: blue 1px solid;
	font-weight: bold;
	background: #3e83c9;
	padding-bottom: 2px;
	color: #fff;
	line-height: 1.2;
	padding-top: 2px;
}

#row td {
	vertical-align: middle;
	padding-top: 6px;
	padding-bottom: 6px;
}

#row .alt {
	background: #ecf6fc
}

#row .over {
	background: #B8FCBD;
	color: red;
}
#row .row_active{
	background: #C1CDD8;
}

/*ģ��ͷ����ʾ*/
#title {
	text-align:center;
	background-color: #CEE3F6;
	border: 1px dotted #999;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 99%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
	font-size: 13pt;
	font-weight: bold;
}

#title img {
	align: absmiddle;
}

/*��ѯ����*/
#query {
	vertical-align: middle;
	border: 1px dotted #999;
	padding: 2px 5px 2px 4px;
	width: 99%;
	margin-top: 10px;
	display: none;
	border-bottom: none;
}

/*��ѯ�����е�label*/
#query label {
	vertical-align: middle;
	padding-right: 20px;
}

/*��ѯͼƬ*/
#queryImg {
	align: absmiddle;
	cursor: pointer;
	padding-left: 50px;
}

/*------ ��֤���CSS Start ------*/
.onShow {
	background: url(../images/validitor/onShow.gif) no-repeat;
	padding-left: 25px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
}

.onFocus {
	background: #E9F0FF url(../images/validitor/onFocus.gif) no-repeat;
	padding-left: 25px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
}

.onError {
	background: #FFF2E9 url(../images/validitor/onError.gif) no-repeat;
	padding-left: 25px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
}

.onCorrect {
	background: #E9FFEB url(../images/validitor/onCorrect.gif) no-repeat;
	padding-left: 25px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
}

.onLoad {
	background: #E9FFEB url(../images/validitor/onLoad.gif) no-repeat 3px 3px;
	padding-left: 25px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
}